.hero-cont {
  /* background-color: rgb(235, 234, 234); */
  width: 100vw;
  min-height: 100vh;
  background-image: url("/bundle-yard-here.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  padding-top: 160px;
}

.hero-tagline {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 30px;
  width: 600px;
}
.hero-tagline h2 {
  line-height: 1.6;
  color: rgb(49, 4, 4);

  font-size: 28px;
  font-weight: 600;
}
.hero-tagline h1 {
  color: rgb(49, 4, 4);
  font-size: 30px;
  font-weight: bolder;
}
.hero-tagline p {
  width: 408px;
  color: rgb(71, 21, 21);
  font-weight: 1000;
}
.hero-btn {
  background-color: rgb(85, 8, 8);
  color: rgb(222, 222, 222);
  width: 150px;
  padding: 15px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}
