.hero-cont {
  position: relative;
  background-image: url("/bundle-yard-here.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-cont div {
  position: absolute;
  left: 50px;
  top: 190px;
  height: 300px;
}
.hero-cont h1 {
  margin-bottom: 13px;
}
.content {
  line-height: 1.5;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 20px;
}
.btn-shop-now {
  padding: 10px 20px;
  font-size: 17px;
  text-transform: capitalize;
  background-color: rgb(26, 88, 88);
  color: rgb(228, 240, 240);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}
.btn-shop-now:hover {
  padding: 10px 20px;
  font-size: 17px;
  text-transform: capitalize;
  color: rgb(26, 88, 88);
  background-color: rgb(228, 240, 240);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
