.cart-page {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-page-wrapper {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.cart-item-image {
  width: 200px;
  height: auto;

  object-fit: cover;
}
