.header {
  width: 100vw;
  background-color: #f7f7f7;
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: rgb(4, 82, 82);
}
.header nav ul {
  display: flex;
  gap: 20px;
}
.header nav li {
  color: rgb(26, 88, 88);
  text-transform: capitalize;
  padding: 8px;
}
.header nav li:hover {
  color: rgb(228, 240, 240);
  text-transform: capitalize;
  background-color: rgb(26, 88, 88);
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
