.navbar-container {
  background-color: #fff; /* Or your navbar background color */

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  scroll-behavior: smooth;
}
.navbar-wrapper {
  margin: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;

  color: rgb(71, 21, 21);
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 1.5rem;
}

.navbar-link {
  text-decoration: none;

  color: rgb(71, 21, 21);
  color: #ff7f50;
  font-size: 1.3rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: rgb(71, 21, 21); /* Change color on hover */
}

.shop-cart {
  font-size: 22px;
  font-weight: 800;
  position: relative;
}
.num-item {
  position: absolute;
  font-size: 13px;
  top: 14px;
  color: rgb(71, 21, 21);
}
