.side-nav {
  display: flex;
  width: 100px;
  justify-content: space-between;
  gap: 4px;
}
.toggle-dark-mode {
  /* display: none; */
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(71, 21, 21);
  margin-left: 4px;
}
