.products {
  background-color: #f7f7f7;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
}
.products ul {
  margin: 0 15px;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  list-style-type: none;
}
.error {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.error h2 {
  font-size: 26px;
  font-weight: bolder;
  color: rgb(214, 30, 30);
}
