/* Reset margin and padding for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a consistent font family across all elements */
body {
  min-height: 100vh;
}

.btn {
  width: 80px;

  background-color: #fff;
  color: rgb(85, 8, 8);
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 6px;
  border: 1px solid rgb(85, 8, 8);
}
.btn:hover {
  width: 80px;
  background-color: rgb(85, 8, 8);
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
}
